# Python
__pycache__/
*.pyc
venv/
env/

# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.r

# Config
config.R

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Data files
*.csv
passport_viewing.txt

# Excel
*.xlsx

# Word Documents
*.docx